body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  color: #fff;
  background: #000;
  font-family: monospace;
  display: table;
}

a {
  color: #f60;
  text-decoration: none;
}

#container {
  padding: 1em;
  font-size: 1.5em;
}
