body,
html {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  color: #fff;
  background: #222;
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 0;
  font-weight: 700;
}

img {
  max-width: 100%;
}

p {
  margin-top: 0;
}

a {
  color: #f60;
  text-decoration: none;
}

code {
}

#container {
  display: inline-block;
  max-width: 960px;
  flex-grow: 1;
}

#header {
  text-align: center;
  margin: 0 3em;
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #797979;
}

#title {
}

#content {
  background: #2e2e2e;
  padding: 4em 4em;

  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-bottom: 1em;
}

#footer {
  padding: 0 2em;
  font-family: monospace;
  color: #797979;
  margin-bottom: 1em;
}
